@import url('https://fonts.googleapis.com/css?family=Arvo');

html{
  background-color: #ededed;
  width: 100%;
  height:100%;
}

h1{
  font-family: 'Arvo', serif;
  text-align: center;
}

p{
  font-family: 'Arvo', serif;

}
.center{
  display: flex;
  justify-content: center;
}
.corp{
  background-image: url(../img/corp.png);
  margin-top: 70px;
  margin-right: 184px;
  width: 140px;
  height: 500px;
}
.cercle{
  position: relative;
  background-color: black;
  border-radius:50%;
  width:50px;
  height:50px;
  opacity: 0.8;
}
.epaule{
  top: 85px;
  right: 13px;
}
.coude{
    top: 100px;
    left: 100px;
}

.poignet{
  top: 106px;
  right: 13px;
}
.hanche{
  top: 88px;
  left: 71px;
}
.genou{
  top: 135px;
  right: -23px;
}
.cheville{
  top: 170px;
  left: 71px;
}
.txt{
    position: absolute;
    font-family: 'Arvo', serif;
    width: 200px;
    height: 500px;
    visibility: hidden;
}
.epauletxt{
  top: -89px;
  margin-left: 186px;
}
.coudetxt{
  top: -153px;
  margin-left: 73px;
}
.poignettxt{
  top: -210px;
  margin-left: 186px;
}
.hanchetxt{
  top: -243px;
  margin-left: 102px;
}
.genoutxt{
  top: -339px;
  margin-left: 150px;
}
.chevilletxt{
  top: -424px;
  margin-left: 103px;
}
.epaule:hover .epauletxt{
  visibility:visible;
}
.coude:hover .coudetxt{
  visibility: visible;
}
.poignet:hover .poignettxt{
  visibility: visible;
}
.hanche:hover .hanchetxt{
  visibility: visible;
}
.genou:hover .genoutxt{
  visibility: visible;
}
.cheville:hover .chevilletxt{
  visibility: visible;
}
.point:hover{
  background-color: red;
}
