@import url('https://fonts.googleapis.com/css?family=Arvo');

html{
  background-color: #ededed;
  width: 100%;
  height:100%;
}

h1{
  font-family: 'Arvo', serif;
  text-align: center;
}

p{
  font-family: 'Arvo', serif;

}
.center{
  display: flex;
  justify-content: center;
}


.corp{
  background-image: url(../img/corp.png);
  margin-top: 70px;
  margin-right: 184px;
  width: 140px;
  height: 500px;
}

.epaule{
  position: relative;
  background-color: red;
  border-radius:50%;
  top: 85px;
  right: 13px;
  width:50px;
  height:50px;
  opacity: 0.8;
}
  .coude{
    position: relative;
    background-color: red;
    border-radius:50%;
    top: 100px;
    left: 100px;
    width:50px;
    height:50px;
    opacity: 0.8;
}

.poignet{
  position: relative;
  background-color: red;
  border-radius:50%;
  top: 106px;
  right: 13px;
  width:50px;
  height:50px;
  opacity: 0.8;
}

.hanche{
  position: relative;
  background-color: red;
  border-radius:50%;
  top: 88px;
  left: 71px;
  width:50px;
  height:50px;
  opacity: 0.8;
}

.genou{
  position: relative;
  background-color: red;
  border-radius:50%;
  top: 135px;
  right: -23px;
  width:50px;
  height:50px;
  opacity: 0.8;
}

.cheville{
  position: relative;
  background-color: red;
  border-radius:50%;
  top: 170px;
  left: 71px;
  width:50px;
  height:50px;
  opacity: 0.8;
}


.epauletxt{
  position: absolute;
  top: -89px;
  margin-left: 186px;
  font-family: 'Arvo', serif;
  width: 200px;
  height: 500px;
  visibility: hidden;
}

.coudetxt{
  position: absolute;
  top: -153px;
  margin-left: 73px;
  font-family: 'Arvo', serif;
  width: 200px;
  height: 500px;
  visibility: hidden;
}

.poignettxt{
  position: absolute;
  top: -210px;
  margin-left: 186px;
  font-family: 'Arvo', serif;
  width: 200px;
  height: 500px;
  visibility: hidden;
}

.hanchetxt{
  position: absolute;
  top: -243px;
  margin-left: 102px;
  font-family: 'Arvo', serif;
  width: 200px;
  height: 500px;
  visibility: hidden;
}

.genoutxt{
  position: absolute;
  top: -339px;
  margin-left: 150px;
  font-family: 'Arvo', serif;
  width: 200px;
  height: 500px;
  visibility:hidden;

}

.chevilletxt{
  position: absolute;
  top: -424px;
  margin-left: 103px;
  font-family: 'Arvo', serif;
  width: 200px;
  height: 500px;
  visibility:hidden;


}


.epaule:hover .epauletxt{
  visibility:visible;
}

.coude:hover .coudetxt{
  visibility: visible;
}
.poignet:hover .poignettxt{
  visibility: visible;
}
.hanche:hover .hanchetxt{
  visibility: visible;
}

.genou:hover .genoutxt{
  visibility: visible;
}

.cheville:hover .chevilletxt{
  visibility: visible;
}
.point:hover{
  background-color: black

}
